.container
  .clearfix.mb-2
    %h1.float-left
      = "#{@competition.title} Versions"
  .d-flex.flex-row.justify-content-start
    = form_tag competition_competition_versions_path, method: :get, class: "float-right" do
      = check_box_tag "display_archive", 1 , @display_archive.present?
      = label_tag "display_archive", "Show archived items", class: "mr-1"
      = submit_tag  "Refresh", class: 'btn btn-primary'
    - if current_user.admin?
      = link_to 'New Version', new_competition_competition_version_path, class: 'btn btn-primary ml-auto'
  %table.table.mt-5
    %thead
      %tr
        %th Version
        %th Dataset Location
        %th Size
        %th Number of Predictions
        %th Note
        %th Created At
    %tbody
      - @competition_versions.each do |cv|
        %tr{class: row_background_color(cv)}
          %td= link_to cv.version, competition_version_predict_logs_path(cv.id)
          %td= cv.dataset_location
          %td= cv.answer_data_size
          %td= cv.predict_logs.count
          %td= markdown_to_plain_text(cv.note).truncate(30)
          %td= cv.created_at
          %td
            .dropdown
              %button.btn.dropdown-toggle{data: {toggle: 'dropdown'}}
              .dropdown-menu
                = link_to 'Details', competition_version_path(cv), class: 'dropdown-item'
                - if current_user.admin?
                  = link_to 'Edit', edit_competition_version_path(cv), class: 'dropdown-item'
  .d-flex.flex-row.justify-content-end
    = link_to "Go back to Competitions index", competitions_path, class: 'btn btn-primary'